In [3]:
import pandas as pd
# from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.metrics import mean_absolute_error

In [4]:
#1
train_data = pd.read_csv('~/Downloads/train.csv')
test_data = pd.read_csv('~/Downloads/test.csv')

train_data.head()
#test_data.describe()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [5]:
#2 
# Intilizize the data, dont run again or it will reset ur progress
train_data = train_data.dropna()

X = train_data.loc[:, 'HomePlanet' : 'VRDeck']
y = train_data.Transported

X.head(10)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
5,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0
6,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0
8,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0
9,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0
11,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0

In [6]:
#3
X = X.dropna()
# THIS LITTERALLT WORKS STUPID

In [7]:
#4
# dont worrry about the error, just compiled the cabin string values into a list, and count the nan values
cabins = []
a = 0
for i in X.Cabin:
    cabins.append(i)

print(a)

0

In [8]:
#5
floors = []
rooms = []
decks = []

for i in range(len(cabins)):
    enum = cabins[i].split("/")
    floors.append(ord(enum[0]))
    rooms.append(enum[1])
    if enum[2] == 'S':
        decks.append(0)
    else:
        decks.append(1)


X['Floor'] = floors
X['Room'] = rooms
X['Deck'] = decks

X = X.drop('Cabin', axis=1)
X.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Floor,Room,Deck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,66,0,1
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,70,0,0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,65,0,0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,65,0,0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,70,1,0

In [9]:
# 6 Convert the rooms and

In [10]:
type(X['CryoSleep'][3])
print(X['CryoSleep'])
print(len(X))

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689     True
8690    False
8691    False
8692    False
Name: CryoSleep, Length: 6606, dtype: object
6606

In [11]:
# Convert the CryoSleep: bool and VIP:bool to 0 or 1
Cryo = []
VIP = []

crval = X['CryoSleep'].tolist()
vval = X['VIP'].tolist()

for i in range(len(X['CryoSleep'])):
    if crval[i]:
        Cryo.append(1)
    else:
        Cryo.append(0)

        
for i in range(len(X['VIP'])):
    if vval[i]:
        VIP.append(1)
    else:
        VIP.append(0)

X['CryoSleep'] = Cryo
X['VIP'] = VIP

In [12]:
# Only three destinations, just a testing block dont mind
dests = []
for dest in X.Age:
    #print(type(dest))
    if dest not in dests:
        dests.append(int(dest))
dests.sort()
print(dests)

key = {}

# create a key for data processing
for i in range(len(dests)):
    key[float(dests[i])] = i

print(key)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]
{0.0: 0, 1.0: 1, 2.0: 2, 3.0: 3, 4.0: 4, 5.0: 5, 6.0: 6, 7.0: 7, 8.0: 8, 9.0: 9, 10.0: 10, 11.0: 11, 12.0: 12, 13.0: 13, 14.0: 14, 15.0: 15, 16.0: 16, 17.0: 17, 18.0: 18, 19.0: 19, 20.0: 20, 21.0: 21, 22.0: 22, 23.0: 23, 24.0: 24, 25.0: 25, 26.0: 26, 27.0: 27, 28.0: 28, 29.0: 29, 30.0: 30, 31.0: 31, 32.0: 32, 33.0: 33, 34.0: 34, 35.0: 35, 36.0: 36, 37.0: 37, 38.0: 38, 39.0: 39, 40.0: 40, 41.0: 41, 42.0: 42, 43.0: 43, 44.0: 44, 45.0: 45, 46.0: 46, 47.0: 47, 48.0: 48, 49.0: 49, 50.0: 50, 51.0: 51, 52.0: 52, 53.0: 53, 54.0: 54, 55.0: 55, 56.0: 56, 57.0: 57, 58.0: 58, 59.0: 59, 60.0: 60, 61.0: 61, 62.0: 62, 63.0: 63, 64.0: 64, 65.0: 65, 66.0: 66, 67.0: 67, 68.0: 68, 69.0: 69, 70.0: 70, 71.0: 71, 72.0: 72, 73.0: 73, 74.0: 74, 75.0: 75, 76.0: 76, 77.0: 77, 78.0: 78, 79.0: 79}

In [13]:
X.head()
# DID WE MISS HOMEPLANET STAT???

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Floor,Room,Deck
0,Europa,0,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,66,0,1
1,Earth,0,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,70,0,0
2,Europa,0,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,65,0,0
3,Europa,0,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,65,0,0
4,Earth,0,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,70,1,0

In [14]:
# Standadizing the room values
rooms_std = []

for val in X.Room:
    if val == 0:
        rooms_std.append(0)
    else:
        rooms_std.append(int(val) / int(len(X.Room)))

X.Room = rooms_std

In [15]:
# Standadizing the luxury values
Service = []
Court = []
Mall = []
Spa = []
Deck = []

headers = ['FoodCourt', 'ShoppingMall']

for val in X.RoomService:
    if val == 0:
        Service.append(0)
    else:
        Service.append(1 / int(val))

for val in X.FoodCourt:
    if val == 0:
        Court.append(0)
    else:
        Court.append(1 / int(val))

for val in X.ShoppingMall:
    if val == 0:
        Mall.append(0)
    else:
        Mall.append(1 / int(val))

for val in X.Spa:
    if val == 0:
        Spa.append(0)
    else:
        Spa.append(1 / int(val))

for val in X.VRDeck:
    if val == 0:
        Deck.append(0)
    else:
        Deck.append(1 / int(val))

X.FoodCourt = Court
X.ShoppingMall = Mall
X.Spa = Spa
X.VRDeck = Deck

In [16]:
X.RoomService = Service

In [17]:
# standardize the floor value, 8 possible values so in 8ths
key = {65:0, 66:1, 66:2, 67:3, 68:4, 69:5, 70:6, 71:7, 84:8}
newFloor_val = []

for val in X.Floor:
    if val == 65:
        newFloor_val = newFloor_val + [0]
    else:
        newFloor_val = newFloor_val + [int(key[val]) / 8]

X.Floor = newFloor_val

In [18]:
key = {'TRAPPIST-1e':0, 'PSO J318.5-22':0.5, '55 Cancri e':1}
newDest_val = []

for val in X.Destination:
    newDest_val =  newDest_val + [key[val]]
X.Destination = newDest_val

In [19]:
newAge = []

for val in X.Age:
    if val == 0:
        newAge = newAge + [0]
    else:
        newAge =  newAge + [val / 80]
X.Age = newAge

In [20]:
newPlanet = []
for val in X.HomePlanet:
    if val == "Earth":
        newPlanet.append(0)
    elif val == "Mars":
        newPlanet.append(0.5)
    else:
        newPlanet.append(1)

X.HomePlanet = newPlanet

In [21]:
X.head(30)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Floor,Room,Deck
0,1.0,0,0.0,0.4875,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250,0.000000,1
1,0.0,0,0.0,0.3000,0,0.009174,0.111111,0.040000,0.001821,0.022727,0.750,0.000000,0
2,1.0,0,0.0,0.7250,1,0.023256,0.000280,0.000000,0.000149,0.020408,0.000,0.000000,0
3,1.0,0,0.0,0.4125,0,0.000000,0.000779,0.002695,0.000300,0.005181,0.000,0.000000,0
4,0.0,0,0.0,0.2000,0,0.003300,0.014286,0.006623,0.001770,0.500000,0.750,0.000151,0
5,0.0,0,0.5,0.5500,0,0.000000,0.002070,0.000000,0.003436,0.000000,0.750,0.000000,1
6,0.0,0,0.0,0.3250,0,0.023810,0.000650,0.333333,0.000000,0.000000,0.750,0.000303,0
8,0.0,0,0.0,0.4375,0,0.000000,0.001274,0.058824,0.004630,0.000000,0.750,0.000454,0
9,1.0,1,1.0,0.1750,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250,0.000151,1
11,1.0,0,1.0,0.5625,0,0.025641,0.000137,0.001698,0.009091,0.008065,0.250,0.000151,1
12,0.5,0,0.0,0.4000,0,0.013699,0.000000,0.000890,0.000000,0.008850,0.750,0.000151,1
13,0.0,0,0.0,0.6000,0,0.001391,1.000000,0.015385,0.000000,0.041667,0.875,0.000151,0
14,0.0,0,0.0,0.3500,0,0.125000,0.001027,0.083333,0.500000,0.142857,0.750,0.000303,1
17,0.0,0,1.0,0.3000,0,0.000000,1.000000,0.000000,0.000000,0.001570,0.750,0.000606,1
18,0.5,1,0.0,0.5625,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.750,0.000757,1
19,0.0,0,0.0,0.0000,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.875,0.000000,1
20,0.0,0,1.0,0.1750,0,0.002427,0.000000,1.000000,0.000000,0.001473,0.750,0.000908,1
21,0.0,1,0.0,0.0125,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.625,0.000000,0
22,0.0,1,1.0,0.6125,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.625,0.000000,0
24,0.0,0,0.0,0.1250,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.625,0.000000,0
26,0.0,0,0.0,0.0875,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.625,0.000000,0
29,0.0,0,0.0,0.1875,0,0.000000,0.004444,0.000000,0.001002,0.000000,0.750,0.000908,0
30,1.0,0,1.0,0.4250,0,0.045455,0.000165,0.000000,0.000695,0.003049,0.375,0.000000,1
31,0.5,0,0.0,0.5375,0,0.000889,0.000000,0.007353,0.020833,0.000000,0.750,0.001211,1
32,0.0,0,0.0,0.4000,0,0.000000,0.001176,0.012346,0.002288,0.002208,0.875,0.000606,0
33,0.5,0,0.0,0.5875,0,0.004673,0.000000,0.000709,0.000000,0.000814,0.750,0.001362,1
34,0.5,0,0.0,0.0250,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.750,0.001362,1
36,1.0,1,1.0,0.3500,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.500,0.000151,0
37,0.5,0,1.0,0.2875,0,0.001276,0.001037,0.000000,0.001052,0.000000,0.500,0.000151,1
39,0.0,0,1.0,0.2500,0,0.001805,0.005128,0.000000,0.000384,0.000000,0.750,0.001514,0

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

y_test = y_test.astype(int)
y_train = y_train.astype(int)

In [26]:
def getmae(xtrain, xval, ytrain, yval, iter, layer):
    model = MLPRegressor(random_state=1, max_iter=1000, hidden_layer_sizes=500).fit(xtrain, ytrain)
    prediction = model.predict(xval)
    prediction = prediction.round()
    mae = mean_absolute_error(yval, prediction)
    return mae

In [31]:
test_nodes = [50, 100, 200, 300, 500]
test_iter = [100, 200, 300, 400, 500]

best_fit = [1, 0, 0]

for vali in test_nodes:
    for valj in test_iter:
        pred = getmae(X_train, X_test, y_train, y_test, valj, vali)
        if pred < best_fit[0]:
            best_fit[1] = valj
            best_fit[2] = vali
            best_fit[0] = pred
print(best_fit)

[0.2560532687651332, 100, 50]

In [ ]:
#X_train, X_val, y_train, y_val = y_test_split(X, y, random_state=1)
#neural = MLPRegressor(random_state=1, max_iter=1000, hidden_layer_sizes=500).fit(X_train, y_train)

In [ ]:
"""
answers = neural.predict(X_test.head(10))

final_answers = []
for i in range(len(answers)):
    if answers[i] > 0.5:
         final_answers = final_answers + [True]
    else:
        final_answers = final_answers + [False]



print(answers)
print(final_answers)
y.head(10)
"""